{{ partial "global-header.html" . }}

<!---Head of Fontawesome 5.6.3 CDN -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/regular.css" integrity="sha384-aubIA90W7NxJ+Ly4QHAqo1JBSwQ0jejV75iHhj59KRwVjLVHjuhS3LkDAoa/ltO4" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
<!---End of Fontawesome 5.6.3 CDN -->
<!---Upgarded from 4.0.0 to 5.6.3 :)-->

<!---Forkawesome 1.1.5 CDN -->
<!---For matrix and mastoon icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous">

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">

    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}  <i class="far fa-smile-o" aria-hidden="true"></i></h2>

          <ul class="address-block">
            <li>
              <i class="fas fa-map-marker-alt"></i>{{ .box.address | safeHTML }}
            </li>
            <li>
              <i class="far fa-envelope"></i>{{ .box.email | safeHTML }}
            </li>
            <li>
              <i class="fa fa-matrix-org" aria-hidden="true"></i>{{ .box.matrix | safeHTML }}
            </li>
            <li>
              <i class="fab fa-telegram"></i>{{ .box.telegram | safeHTML }}
            </li>
            <li>
              <i class="fa fa-mastodon"></i>{{ .box.mastodon | safeHTML }}
            </li>
            <li>
              <i class="fab fa-twitter"></i>{{ .box.twitter | safeHTML }}
            </li>
            <li>
              <i class="fab fa-instagram"></i>{{ .box.instagram | safeHTML }}
            </li>
            <li>
              <i class="fab fa-gitlab"></i>{{ .box.gitlab | safeHTML }}
            </li>
            <li>
              <i class="fab fa-github"></i>{{ .box.github | safeHTML }}
            </li>
            <li>
              <i class="fab fa-facebook"></i>{{ .box.facebook | safeHTML }}
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}
            <li>
              <a href="{{ .url }}"><i class="fab {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .osmmap}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="osm-map">
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=76.14488%2C10.62689&amp;layer=mapnik" style="border: 1px solid black"></iframe>
            </div>
        </div>
        {{ end }}
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3921.390702240291!2d76.1425413!3d10.626725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2664e7fe1daf242e!2sVidya+Academy+of+Science+and+Technology!5e0!3m2!1sen!2sin!4v1480242779618" width="555" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
