{{ partial "global-header.html" . }}

<!-- upcoming events -->
<section id="new-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="new-menu">
                <h1> Upcoming Events </h1>
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                  {{ range .Site.Data.events.new }}
                    <li class="filter" data-filter=".{{ .category }}">{{ .category }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="new-contant">
                <ul id="new-contant-active">
                  {{ range .Site.Data.events.new }}
                    <li class="mix {{ .category }}">
                      <a href="{{ .url }}">
                        <img src="{{ $.Site.BaseURL }}{{ .image }}" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ .name }}</h2>
                            <p>{{ .description }}</p>
                          </div>
                        </div>
                      </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>


<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">

                <h1> Past Events </h1>
                <ul>
                  {{ $categories := slice }}
                  {{ range .Site.Data.events.portfolio }}
                    {{ $categories = $categories | append .category }}
                  {{ end }}
                    <li class="filter" data-filter="all">Everything</li>
                  {{ range ( $categories | uniq ) }}
                    <li class="filter" data-filter=".{{ . }}">{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {{ range .Site.Data.events.portfolio }}
                    <li class="mix {{ .category }}">
                      <a href="{{ .url }}">
                        <img src="{{ $.Site.BaseURL }}{{ .image }}" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ .name }}</h2>
                            <p>{{ .description }}</p>
                          </div>
                        </div>
                      </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range .Site.Data.events.clients }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{ if isset .Site.Data.events "call" }}
  {{ partial "call-to-action.html" .Site.Data.events.call }}
{{ end}}
